Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

Update src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/detail-view.module.css
Owners: none

Update src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/detail-view.module.css
Owners: none

Add page button vars and linkbox only takes up 50%
  src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/index.tsx
Owners: none

Add todos around file reads
  src/views/validated-designs/server.ts
Owners: none

remove unneeded foundGuide
  src/views/validated-designs/server.ts
Owners: none

remove enable_hvd flag
  config/base.json
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
Owners: none

re-enable alert banner
  src/data/alert-banner.json
Owners: none

replace space with dash for OS names with two words
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/helpers.ts
Owners: none

Refactor install page TOC logic (#2274)
  src/views/product-downloads-view/__tests__/__fixtures__/releases.json
  src/views/product-downloads-view/__tests__/index.test.ts
  src/views/product-downloads-view/boundary/components/desktop-client-callout/index.tsx
  src/views/product-downloads-view/components/downloads-section/helpers.ts
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/components/downloads-section/types.ts
  src/views/product-downloads-view/components/release-information/index.tsx
  src/views/product-downloads-view/helpers.ts
  src/views/product-downloads-view/index.test.ts
  src/views/product-downloads-view/index.tsx
  src/views/product-downloads-view/server.ts
  src/views/product-downloads-view/types.ts
Owners: none

re-enable alert banner (#2291)
  src/data/alert-banner.json
Owners: none

chore(deps): upgrade to next v14 (#2244)
  next-sitemap.config.js
  next.config.js
  package-lock.json
  package.json
  scripts/content-repo-preview/builders/developer.ts
  src/__swingset-components/swingset-color-token/index.tsx
  src/__swingset-components/swingset-test-icon/index.tsx
  src/components/dev-dot-content/mdx-components/mdx-headings/utils/is-injected-permalink.ts
  src/layouts/core-dev-dot-layout/index.tsx
  src/middleware.ts
  src/pages/swingset/[[...swingset]].tsx
  src/views/docs-view/loaders/utils/get-paths-from-nav-data.ts
  tsconfig.json
Owners: none

chore: tweak simple-complex redirects split
  build-libs/__tests__/redirects.test.ts
  build-libs/redirects.js
  next.config.js
Owners: none

chore: rm temp changes used for testing
  build-libs/proxy-settings.js
Owners: none

chore: target both prod and test hosts
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

chore: comment out sentinel proxy settings to test
  build-libs/proxy-settings.js
Owners: none

feat: add post-launch redirects setup
  build-libs/docs-dot-hashicorp-redirects.js
  build-libs/redirects.js
Owners: none

chore: rm comment
  build-libs/proxy-settings.js
Owners: none

chore: set up sentinel launch redirects (#2271)
  build-libs/__tests__/redirects.test.ts
  build-libs/docs-dot-hashicorp-redirects.js
  build-libs/redirects.js
  next.config.js
Owners: none

chore: require node v18
  package-lock.json
  package.json
Owners: none

chore: require node v18 (#2292)
  package-lock.json
  package.json
Owners: none

adds boundary/oidc-auth0 tutorial
  src/content/boundary/install-landing.json
Owners: @hashicorp/boundary-education-approvers

adds Identity-based access card referencing identity-management collection
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

adds boundary/oidc-auth0 to tutorial cards
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

chore: delete remove-inactive-product-pages script
  package.json
  scripts/remove-inactive-product-pages.ts
Owners: none

chore: remove noindex on /sentinel pages
  next.config.js
Owners: none

chore: clean up unused proxy config and settings
  build-libs/proxy-config.js
  build-libs/proxy-settings.js
Owners: none

chore: remove dev-portal sentinal start script
  package.json
Owners: none

chore: rm proxy-config file
  build-libs/proxy-config.js
  src/lib/env-checks.js
Owners: none

chore: restore start cmd, will rm separately
  package.json
Owners: none

docs: add cleanup comments w task link
  build-libs/redirects.js
  build-libs/rewrites.js
  src/lib/env-checks.js
Owners: none

chore: delete proxy-settings file
  build-libs/proxy-settings.js
  build-libs/redirects.js
  build-libs/rewrites.js
Owners: none

chore: rm proxySettings import
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

Install page fast-forward: remove sidebarMenuItems from install-landing.json (#2275)
  src/content/boundary/install-landing.json
  src/content/consul/install-landing.json
  src/content/nomad/install-landing.json
  src/content/packer/install-landing.json
  src/content/terraform/install-landing.json
  src/content/vagrant/install-landing.json
  src/content/vagrant/install-vmware-landing.json
  src/content/vault/install-landing.json
  src/content/waypoint/install-landing.json
Owners: @hashicorp/boundary-education-approvers, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/education, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers

feat: launch sentinel migration (#2259)
  build-libs/docs-dot-hashicorp-redirects.js
  build-libs/proxy-config.js
  build-libs/proxy-settings.js
  build-libs/redirects.js
  build-libs/rewrites.js
  next.config.js
  package.json
  scripts/remove-inactive-product-pages.ts
  src/lib/env-checks.js
Owners: none

chore: add missing Sentinel redirect
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

chore: add second missing redirect
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

docs: add comment for clarity
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

chore: add missing Sentinel redirects (#2295)
  build-libs/docs-dot-hashicorp-redirects.js
Owners: none

chore: add redirect for /sentinel/downloads
  build-libs/redirects.js
Owners: none

chore: redirect at the source level
  src/views/docs-view/utils/product-url-adjusters.ts
Owners: none
