Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

Introduce the @test and @build-libs alias
  scripts/docs-content-link-rewrites/helpers/fetch-nav-data-for-repo-and-base-path.ts
  src/__tests__/e2e/docs-content-link-rewrites.spec.ts
  src/__tests__/e2e/docs-landing-icon-card-links.spec.ts
  src/__tests__/e2e/seo.spec.ts
  src/lib/remark-plugins/rewrite-static-hvd-assets/index.ts
  tsconfig.json
Owners: none

Revert changes to card-links e2e test
  src/__tests__/e2e/docs-landing-icon-card-links.spec.ts
Owners: none

Added coming soon page for TF PRO
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional
Owners: @lszpunar

Added exam to JSON file
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Changed title
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Add better error messages
  jest.config.ts
Owners: none

Removing apt-key as this method of importing the key is deprecated. (#2310)
  src/data/vault.json
Owners: none

Update expiry to March 1st 2024
  src/data/alert-banner.json
Owners: none

Changed day from 2nd to 1st of March
  src/data/alert-banner.json
Owners: none

Update Dev AI sign-up banner expiry to March 1st 2024 (#2317)
  src/data/alert-banner.json
Owners: none

Prevent double product name in aria-label
  src/components/docs-version-switcher/index.tsx
Owners: none

Use Object.entries
  jest.config.ts
Owners: none

Chore: Implement ts path alias (#2315)
  jest.config.ts
  scripts/docs-content-link-rewrites/helpers/fetch-nav-data-for-repo-and-base-path.ts
  src/__tests__/e2e/docs-content-link-rewrites.spec.ts
  src/__tests__/e2e/seo.spec.ts
  src/lib/remark-plugins/rewrite-static-hvd-assets/index.ts
  src/views/tutorial-view/components/next-previous/index.tsx
  src/views/validated-designs/__tests__/server.ts
  src/views/validated-designs/server.ts
  tsconfig.json
Owners: none

Fixed mobile menu overlap with site alertbanner
  src/components/mobile-menu-container/mobile-menu-container.module.css
  src/layouts/base-layout/index.tsx
Owners: none

Fixed double terraform in aria-label; added tests
  src/components/docs-version-switcher/docs-version-switcher.test.tsx
  src/components/docs-version-switcher/index.tsx
Owners: none

Update docs-version-switcher.test.tsx
  src/components/docs-version-switcher/docs-version-switcher.test.tsx
Owners: none

chore: update link to Sentinel playground (#2301)
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

[TF VPAT A11Y] - /terraform/cli Inconsistent identification (#2319)
  src/components/docs-version-switcher/docs-version-switcher.test.tsx
  src/components/docs-version-switcher/index.tsx
Owners: none

chore: Fixed mobile menu overlap with site alert banner (#2318)
  src/components/mobile-menu-container/mobile-menu-container.module.css
  src/layouts/base-layout/index.tsx
Owners: none

chore: add redirect for /sentinel/downloads (#2296)
  build-libs/redirects.js
  src/views/docs-view/utils/product-url-adjusters.ts
Owners: none

Revert "chore: Fixed mobile menu overlap with site alert banner (#2318)"
  src/components/mobile-menu-container/mobile-menu-container.module.css
  src/layouts/base-layout/index.tsx
Owners: none

Revert "chore: Fixed mobile menu overlap with site alert banner (#2318)" (#2322)
  src/components/mobile-menu-container/mobile-menu-container.module.css
  src/layouts/base-layout/index.tsx
Owners: none

update: add sentinel product diagram assets
  .vscode/settings.json
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

fix: use optimized images
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

revert settings change
  .vscode/settings.json
Owners: none

update: add sentinel product diagram assets (#2323)
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

Update integration-packer-redirects.js
  build-libs/integration-packer-redirects.js
Owners: none

chore: remove start pkg scripts
  package.json
Owners: none

chore: remove proxied-io pages
  src/pages/_proxied-dot-io/sentinel/sentinel/[[...page]].tsx
  src/pages/_proxied-dot-io/sentinel/sentinel/downloads/index.jsx
  src/pages/_proxied-dot-io/sentinel/sentinel/downloads/style.module.css
  src/pages/_proxied-dot-io/sentinel/sentinel/intro/[[...page]].tsx
Owners: none

chore: remove proxy settings & proxy config
  build-libs/__tests__/redirects.test.ts
  build-libs/redirects.js
  build-libs/rewrites.js
  src/lib/env-checks.js
Owners: none

Added exam to JSON file
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Added coming soon page for TF PRO
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional
Owners: @lszpunar

Changed title
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Fix HVD head meta
  src/pages/validated-designs/index.tsx
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/index.tsx
  src/views/validated-designs/server.ts
Owners: none

chore(sentinel migration): remove start:product commands (#2325)
  package.json
Owners: none

Added exam to JSON file
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Added coming soon page for TF PRO
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional
Owners: @lszpunar

Delete non markdown version
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional
Owners: @lszpunar

Changed title
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

missing comma in infrastructure-automation.json
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
