Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

update vault secrets icon
  src/content/hcp/product-landing.json
  src/content/supported-icons.tsx
Owners: @hashicorp/education

update the vault secrets icon on hcp/docs
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

update vault secrets icon (#2297)
  src/content/hcp/docs-landing.json
  src/content/hcp/product-landing.json
  src/content/supported-icons.tsx
Owners: @hashicorp/education

fix ai copy code button
  package-lock.json
  package.json
Owners: none

fix: client-side link issue on install view
  src/views/product-downloads-view/__tests__/__fixtures__/releases.json
  src/views/product-downloads-view/__tests__/index.test.ts
  src/views/product-downloads-view/boundary/components/desktop-client-callout/index.tsx
  src/views/product-downloads-view/boundary/index.tsx
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/components/downloads-section/types.ts
  src/views/product-downloads-view/components/release-information/index.tsx
  src/views/product-downloads-view/helpers.ts
  src/views/product-downloads-view/index.tsx
  src/views/product-downloads-view/server.ts
  src/views/product-downloads-view/types.ts
Owners: none

Fixed HVD guide sidebar styling
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/types.ts
Owners: none

docs: relocate comment for clarity
  src/views/product-downloads-view/index.tsx
Owners: none

chore: update link to Sentinel playground
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

Fix developer ai copy code button (#2298)
  package-lock.json
  package.json
Owners: none

[chore]: Fix HVD guide sidebar styling (#2300)
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/types.ts
Owners: none

Fix maximum callstack exceeded error
  src/views/product-downloads-view/index.tsx
Owners: none

[bug fix] Fixes maximum callstack exceeded error that broke site navigation functionality on the install page (#2302)
  src/views/product-downloads-view/index.tsx
Owners: none

Add HCP Vault Radar card to HCP docs landing page
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

Add HCP Vault Radar card to HCP docs landing page (#2303)
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

Updated hcp waypoint get started link
  src/content/hcp/product-landing.json
Owners: @hashicorp/education

Add product logo, and make TOC h2+ only
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/server.ts
Owners: none

HCP Waypoint Get Started link fix (#2304)
  src/content/hcp/product-landing.json
Owners: @hashicorp/education

update HCP Packer API design
  src/pages/hcp/api-docs/packer/[[...page]].tsx
Owners: none

Update HCP Packer API design (#2306)
  src/pages/hcp/api-docs/packer/[[...page]].tsx
Owners: none

Boundary: update product landing and install pages to include auth0 (#2293)
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

HVD: Add product logo, and make TOC h2+ only (#2305)
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/server.ts
Owners: none

Fix refocus on HVD next/prev buttons
  src/components/directional-link-box/index.tsx
  src/components/directional-link-box/types.ts
  src/views/validated-designs/guide/index.tsx
Owners: none

Add why, not just context to comment
  src/components/directional-link-box/index.tsx
Owners: none

Designs should be plural
  src/views/validated-designs/index.tsx
Owners: none

Update src/components/directional-link-box/index.tsx
  src/components/directional-link-box/index.tsx
Owners: none

Fix refocus on HVD next/prev buttons and title typo (#2307)
  src/components/directional-link-box/index.tsx
  src/components/directional-link-box/types.ts
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/index.tsx
Owners: none

retain the ref in OutlineNavWithActive
  src/components/outline-nav/components/outline-nav-with-active/index.tsx
Owners: none

feat: block curl requests to cdktf
  src/middleware.ts
Owners: none

feat: block curl requests to cdktf (#2309)
  src/middleware.ts
Owners: none

Removing apt-key as this method of importing the key is deprecated.
  src/data/vault.json
Owners: none

Fix OutlineNavWithActive when items is 1 or less (#2308)
  src/components/outline-nav/components/outline-nav-with-active/index.tsx
Owners: none

Fix UI bug where next/prev buttons do not have a width of 100%
  src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/index.tsx
Owners: none

[HVD] Fix mobile UI bug where next/prev buttons do not have a width of 100% (#2312)
  src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/index.tsx
Owners: none

disallow gptbot on HVD pages
  next-sitemap.config.js
Owners: none

Disallow gptbot on HVD pages (#2313)
  next-sitemap.config.js
Owners: none

Remove enable_hvd flag
  config/development.json
  config/hvd-preview.json
  config/preview.json
  config/project-preview.json
Owners: none

Launch HVD (#2290)
  config/base.json
  config/development.json
  config/hvd-preview.json
  config/preview.json
  config/project-preview.json
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
Owners: none

chore(packer): Remove plugins from sidebar
  src/data/packer.json
Owners: none

Implement ts path alias
  jest.config.ts
  src/views/validated-designs/__tests__/server.ts
  src/views/validated-designs/server.ts
  tsconfig.json
Owners: none

Add a components alias
  src/views/tutorial-view/components/next-previous/index.tsx
  tsconfig.json
Owners: none
