Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

feat: use native fetch for integrations client
  src/lib/integrations-api-client/standard-client.ts
Owners: none

feat: use native fetch (#2456)
  scripts/generate-tutorial-variant-map.ts
  src/lib/integrations-api-client/standard-client.ts
Owners: none

adds boundary/get-started-hcp collection (#2453)
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @hashicorp/education

fix: broken icon on tutorials landing
  src/views/tutorials-landing/img/play-custom.svg
Owners: none

Remove old consul associate exam from consul landing page (#2452)
  src/content/consul/product-landing.json
Owners: @hashicorp/consul-education-approvers

fix: broken icon on tutorials landing (#2457)
  src/views/tutorials-landing/img/play-custom.svg
Owners: none

Update site banner for HashiDays
  src/data/alert-banner.json
Owners: none

fix: prevent nbsp characters from being manually copied (#2455)
  src/lib/rehype-code-plugins.ts
  src/pages/style.css
Owners: none

Update site banner to HashiDays (#2459)
  src/data/alert-banner.json
Owners: none

push duplicate route-announcer as repro of not working
  src/components/route-announcer/index.tsx
  src/pages/_app.tsx
Owners: none

switch route-announcer to aria-live polite
  src/components/route-announcer/index.tsx
Owners: none

bump ds pkgs for code highlight border
  .vscode/settings.json
  package-lock.json
  package.json
Owners: none

stub in script file
  scripts/openapi-protobuf-def-replacer.js
Owners: none

demo script to modify openapi json
  scripts/openapi-protobuf-def-replacer.js
  scripts/openapi-scripts/fetch-github-file.js
  scripts/openapi-scripts/openapi-protobuf-def-replacer.js
Owners: none

update script with slightly more intentional short definitions
  scripts/openapi-scripts/openapi-protobuf-def-replacer.js
Owners: none

comment fix for clarity
  scripts/openapi-scripts/openapi-protobuf-def-replacer.js
Owners: none

Update HVD get started link
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

bump design system pkgs for code highlight border (#2460)
  .vscode/settings.json
  package-lock.json
  package.json
Owners: none

Update HVD get started link (#2462)
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

fix: don't strip style definitions for integrations
  src/lib/remark-plugins/rehype-sanitize/index.ts
Owners: none

comment with TODO re openapi versioned pages
  src/views/open-api-docs-view/server.ts
Owners: none

only modify descriptions if > 400 characters
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
Owners: none

Update tutorials-landing.json
  src/content/tutorials-landing.json
Owners: @hashicorp/education

comment on temporary nature of protobufAny text fix
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
Owners: none

Update tutorials-landing.json (#2465)
  src/content/tutorials-landing.json
Owners: @hashicorp/education

feat: shorten protobufAny text in HCP Vault API docs (#2446)
  src/pages/api/get-open-api-docs-view-props.ts
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/index.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-component.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-description.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-shorten-hcp.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-title.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

fix: don't strip style definitions for integrations (#2463)
  src/lib/remark-plugins/rehype-sanitize/index.ts
Owners: none

patch protobufAny description for all OpenAPI docs
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
Owners: none

fix up long protobufAny text on all OpenAPI docs
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/utils/massage-schema-utils/index.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
Owners: none

revert change for webhook api, not needed
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
Owners: none

Remove Vault cloud-ops
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

patch protobufAny description for all OpenAPI docs (#2466)
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/views/open-api-docs-view/utils/massage-schema-utils/index.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
Owners: none

Remove Vault cloud-ops (#2467)
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Harden HVD server
  src/views/validated-designs/server.ts
Owners: none

First attempt at signal boosting phases of TF and intro sections
  src/content/terraform/docs-landing.json
  src/content/terraform/product-landing.json
  src/data/terraform.json
Owners: @hashicorp/terraform-education-approvers

Moved Consul certification info and added necessary redirect
  build-libs/redirects.js
  src/content/certifications/landing.json
  src/content/certifications/programs/networking-automation.json
  src/content/certifications/programs/security-automation.json
Owners: @lszpunar

tweak language
  src/data/terraform.json
Owners: none

fix spacing
  src/content/terraform/product-landing.json
Owners: @hashicorp/terraform-education-approvers

Forgot to commit that I removed this
  src/content/terraform/product-landing.json
  src/data/terraform.json
Owners: @hashicorp/terraform-education-approvers

revert back
  src/data/terraform.json
Owners: none

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
