Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

[VPAT A11Y] Correctly placed skip link (#2353)
  src/components/sidebar/components/index.ts
  src/components/sidebar/components/sidebar-skip-to-main-content/index.tsx
  src/components/sidebar/index.tsx
  src/components/skip-to-main-content/index.tsx
  src/components/skip-to-main-content/skip-to-main-content.module.css
  src/components/skip-to-main-content/skip-to-main-content.test.tsx
  src/contexts/index.ts
  src/contexts/skip-link.tsx
  src/layouts/base-layout/index.tsx
  src/layouts/sidebar-sidecar/index.tsx
Owners: none

Remove API, CLI, Integrations and Install from top level nav for Waypoint
  config/base.json
  src/components/navigation-header/components/product-page-content/utils/get-nav-items.ts
  src/data/waypoint.json
Owners: none

Update HVD preview on main update (#2352)
  .github/workflows/redeploy-content-repos.yml
Owners: none

Update index.tsx
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

Add reference to install/verify HashiCorp tools on all download linux components (#2336)
  src/views/product-downloads-view/components/downloads-section/downloads-section.module.css
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/components/release-information/index.tsx
Owners: none

Fix typo on callout in install page
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

redirects & updated test
  build-libs/redirects.js
  src/__tests__/e2e/redirects.spec.ts
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
  src/data/waypoint.json
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
Owners: none

Remove Waypoint API docs
  build-libs/redirects.js
  src/data/waypoint.json
  src/lib/get-breadcrumb-links.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/rewrite-external-docs-link.ts
  src/pages/waypoint/api-docs/[[...page]].tsx
  src/pages/waypoint/api-docs/api-docs.module.css
Owners: none

Add collection categories for IA refresh
  src/lib/learn-client/types.ts
Owners: none

remove `plugins` folder from packer
  src/pages/packer/plugins/[...page].tsx
  src/pages/packer/plugins/index.tsx
Owners: none

Remove Waypoint API docs (#2356)
  build-libs/redirects.js
  src/data/waypoint.json
  src/lib/get-breadcrumb-links.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/rewrite-external-docs-link.ts
  src/pages/waypoint/api-docs/[[...page]].tsx
  src/pages/waypoint/api-docs/api-docs.module.css
Owners: none

chore(packer): Remove plugins from sidebar (#2314)
  src/data/packer.json
  src/pages/packer/plugins/[...page].tsx
  src/pages/packer/plugins/index.tsx
Owners: none

Update tests to use Nomad data instead of Waypoint
  src/__tests__/e2e/seo.spec.ts
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
Owners: none

Remove install from waypoint
  build-libs/redirects.js
  src/components/navigation-header/components/product-page-content/utils/get-nav-items.ts
  src/content/waypoint/install-landing.json
  src/data/waypoint.json
  src/views/product-landing/helpers/get-icon-cards.tsx
Owners: @hashicorp/education

Remove Waypoint install page
  src/pages/waypoint/install/downloads.module.css
  src/pages/waypoint/install/index.tsx
Owners: none

Update test to exclude Waypoint install page
  src/views/docs-view/utils/__tests__/rewrite-docs-url.test.ts
Owners: none

Remove install from product page sidebar
  src/components/sidebar/helpers/generate-product-landing-nav-items.ts
  src/content/README.md
Owners: @hashicorp/education

Remove install page from Waypoint (#2358)
  build-libs/redirects.js
  src/__tests__/e2e/seo.spec.ts
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
  src/components/navigation-header/components/product-page-content/utils/get-nav-items.ts
  src/components/sidebar/helpers/generate-product-landing-nav-items.ts
  src/content/README.md
  src/content/waypoint/install-landing.json
  src/data/waypoint.json
  src/pages/waypoint/install/downloads.module.css
  src/pages/waypoint/install/index.tsx
  src/views/docs-view/utils/__tests__/rewrite-docs-url.test.ts
  src/views/product-landing/helpers/get-icon-cards.tsx
Owners: @hashicorp/education

Remove Waypoint CLI docs
  build-libs/redirects.js
  src/data/README.md
  src/data/waypoint.json
  src/pages/waypoint/commands/[[...page]].tsx
  src/types/products.ts
Owners: none

Remove cli again
  src/data/waypoint.json
Owners: none

Reverted Vault Secrets logo to square
  src/content/supported-icons.tsx
Owners: @hashicorp/education

Remove Waypoint CLI docs (#2359)
  build-libs/redirects.js
  src/data/README.md
  src/data/waypoint.json
  src/pages/waypoint/commands/[[...page]].tsx
  src/types/products.ts
Owners: none

integrations removal WIP
  build-libs/integration-multiple-component-redirects.js
  build-libs/redirects.js
  config/base.json
  src/data/waypoint.json
  src/lib/content-adjustments/index.ts
  src/lib/content-adjustments/rewrite-waypoint-plugins-to-integrations.ts
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/[integrationVersion]/components/[componentType]/[componentSlug]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/[integrationVersion]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/integration-readme.module.css
  src/pages/waypoint/integrations/index.tsx
  src/pages/waypoint/integrations/integrations.module.css
  src/views/docs-view/utils/product-url-adjusters.ts
  src/views/tutorial-view/utils/serialize-content.ts
Owners: none

change product landing page links for consul
  src/content/consul/product-landing.json
Owners: @hashicorp/consul-education-approvers

Update tests that reference waypoint data; remove waypoint filter from __config.dev_dot.products_with_integrations as waypoint has been removed from the array in the base config
  src/__tests__/e2e/docs-landing-icon-card-links.spec.ts
  src/components/breadcrumb-bar/__fixtures__/packer-nav-data.json
  src/components/breadcrumb-bar/__fixtures__/waypoint-nav-data.json
  src/components/breadcrumb-bar/__tests__/get-docs-breadcrumbs.test.ts
  src/views/product-integration/component-view/server.ts
  src/views/product-integration/readme-view/server.ts
  src/views/product-integrations-landing/server.ts
Owners: none

Update tests
  build-libs/redirects.js
  src/components/breadcrumb-bar/__fixtures__/packer-nav-data.json
  src/components/breadcrumb-bar/__fixtures__/waypoint-nav-data.json
  src/components/breadcrumb-bar/__tests__/get-docs-breadcrumbs.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
Owners: none

Add back Waypoint custom logic to be removed in another PR
  build-libs/integration-multiple-component-redirects.js
  build-libs/redirects.js
  src/lib/content-adjustments/index.ts
  src/lib/content-adjustments/rewrite-waypoint-plugins-to-integrations.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/views/docs-view/utils/product-url-adjusters.ts
  src/views/tutorial-view/utils/serialize-content.ts
Owners: none

Remove integration config from waypoint.json
  src/__tests__/e2e/docs-landing-icon-card-links.spec.ts
  src/data/waypoint.json
Owners: none

Remove Waypoint integrations (#2361)
  build-libs/redirects.js
  config/base.json
  src/data/waypoint.json
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/[integrationVersion]/components/[componentType]/[componentSlug]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/[integrationVersion]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/index.tsx
  src/pages/waypoint/integrations/[organizationSlug]/[integrationSlug]/integration-readme.module.css
  src/pages/waypoint/integrations/index.tsx
  src/pages/waypoint/integrations/integrations.module.css
  src/views/product-integration/component-view/server.ts
  src/views/product-integration/readme-view/server.ts
  src/views/product-integrations-landing/server.ts
Owners: none

Remove GH link from resources nav section for Waypoint
  src/components/sidebar/helpers/generate-resources-nav-items.ts
Owners: none

[bug fix] Change Vault Secrets logo to square logo (#2360)
  src/content/supported-icons.tsx
Owners: @hashicorp/education

Remove Waypoint from versions dropdown
  src/views/docs-view/server.ts
Owners: none

Add hideVersionSelector: true
  src/pages/waypoint/docs/[...page].tsx
  src/views/docs-view/server.ts
Owners: none

Remove docs versions switcher from Waypoint (#2362)
  src/pages/waypoint/docs/[...page].tsx
Owners: none

Remove GH link from resources nav section for Waypoint (#2363)
  src/components/sidebar/helpers/generate-resources-nav-items.ts
Owners: none

Add check for product.integrationsConfig
  src/lib/integrations/generate-product-integration-library-sidebar-nav-data.ts
Owners: none

[chore] Waypoint build error fix - add check for product.integrationsConfig (#2364)
  src/lib/integrations/generate-product-integration-library-sidebar-nav-data.ts
Owners: none

Update waypoint.json
  src/data/waypoint.json
Owners: none

Add integrationsConfig back in to Waypoint data to fix build error (#2365)
  src/data/waypoint.json
Owners: none

chore: remove bugsnag keys, not used
  next.config.js
Owners: none
