Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

chore: remove bugsnag keys (#2367)
  next.config.js
Owners: none

Update react instant search packages
  package-lock.json
  package.json
  src/components/command-bar/commands/search/unified-search/components/dialog-body/index.tsx
  src/pages/tutorials/library.tsx
  src/views/tutorial-library/components/clear-filters-button/index.tsx
  src/views/tutorial-library/components/current-filters/index.tsx
  src/views/tutorial-library/components/filters/use-filters-state.ts
  src/views/tutorial-library/components/pagination/index.tsx
  src/views/tutorial-library/components/results/index.tsx
  src/views/tutorial-library/index.tsx
  src/views/tutorial-library/utils/router-state.ts
  src/views/tutorial-library/utils/scroll.ts
Owners: none

Remove react-instantsearch-core
  package-lock.json
  package.json
Owners: none

Removed all those unused packages innit
  .test/setup-jest.js
  build-libs/redirects.js
  global.d.ts
  package-lock.json
  package.json
  src/components/feedback-form/index.tsx
  src/views/product-downloads-view/helpers.ts
Owners: none

Update react instant search package (#2368)
  package-lock.json
  package.json
  src/components/command-bar/commands/search/unified-search/components/dialog-body/index.tsx
  src/pages/tutorials/library.tsx
  src/views/tutorial-library/components/clear-filters-button/index.tsx
  src/views/tutorial-library/components/current-filters/index.tsx
  src/views/tutorial-library/components/filters/use-filters-state.ts
  src/views/tutorial-library/components/pagination/index.tsx
  src/views/tutorial-library/components/results/index.tsx
  src/views/tutorial-library/index.tsx
  src/views/tutorial-library/utils/router-state.ts
  src/views/tutorial-library/utils/scroll.ts
Owners: none

Remove Waypoint from integrations list in production.json
  config/production.json
Owners: none

Remove Waypoint from product_slugs_with_integrations in production.json (#2370)
  config/production.json
Owners: none

build-libs: add redirect for ipsw packer plugin
  build-libs/integration-packer-redirects.js
Owners: none

build-libs: add redirect for ipsw packer plugin (#2371)
  build-libs/integration-packer-redirects.js
Owners: none

enable hvd-docs hvd-preview branch on .services
  config/base.json
  config/preview.json
  scripts/extract-hvd-content.ts
Owners: none

Make flag less wordy
  config/base.json
  config/preview.json
  scripts/extract-hvd-content.ts
Owners: none

enable hvd-docs hvd-preview branch on .services (#2372)
  config/base.json
  config/preview.json
  scripts/extract-hvd-content.ts
Owners: none

update placeholders
  src/content/consul/install-landing.json
  src/content/consul/product-landing.json
  src/content/hcp/product-landing.json
  src/content/tutorials-landing.json
Owners: @hashicorp/consul-education-approvers, @hashicorp/education

Add radar tutorials
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Add radar tutorials (#2373)
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Redirects to GH from waypoint/docs & waypoint/docs/:slug
  build-libs/redirects.js
Owners: none

Remove Waypoint documentation sidebar
  build-libs/redirects.js
  src/views/product-root-docs-path-landing/server.ts
Owners: none

Added redirect for /waypoint/docs/<path>
  build-libs/redirects.js
Owners: none

Remove Waypoint docs sidebar nav (#2374)
  src/views/product-root-docs-path-landing/server.ts
Owners: none

Redirect for Waypoint docs (#2375)
  build-libs/redirects.js
Owners: none

chore: add vercel speed insights
  package-lock.json
  package.json
  src/pages/_app.tsx
Owners: none

chore(deps): update next
  package-lock.json
  package.json
Owners: none

feat: move next-mdx-remote inline (#2348)
  package-lock.json
  package.json
  src/components/dev-dot-content/index.tsx
  src/components/dev-dot-content/types.ts
  src/components/landing-page-blocks/components/paragraph-block/index.tsx
  src/components/landing-page-blocks/components/paragraph-block/types.ts
  src/lib/markdown-page-static-props-from-string.js
  src/lib/next-mdx-remote/__tests__/next-mdx-remote.test.tsx
  src/lib/next-mdx-remote/idle-callback-polyfill.js
  src/lib/next-mdx-remote/index.tsx
  src/lib/next-mdx-remote/serialize.ts
  src/lib/next-mdx-remote/types.ts
  src/lib/remark-plugins/rehype-sanitize/__tests__/rehype-sanitize.test.ts
  src/lib/remark-plugins/remark-image-dimensions/__tests__/index.test.tsx
  src/lib/remark-plugins/remark-tfe-content-exclusion/__tests__/index.test.tsx
  src/lib/serialize-integration-markdown.ts
  src/views/certifications/components/accordion-with-mdx-content/types.ts
  src/views/certifications/content/utils/get-faqs-from-mdx.ts
  src/views/certifications/types.ts
  src/views/docs-view/loaders/__tests__/file-system.test.ts
  src/views/docs-view/loaders/__tests__/remote-content.test.ts
  src/views/docs-view/loaders/file-system.ts
  src/views/docs-view/loaders/remote-content.ts
  src/views/docs-view/render-page-mdx.ts
  src/views/docs-view/types.ts
  src/views/onboarding/types.ts
  src/views/open-api-docs-view/components/open-api-overview/components/description-mdx/index.tsx
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/product-integration/component-view/components/variable-group-list/index.tsx
  src/views/product-integration/component-view/helpers/get-processed-variables-markdown.ts
  src/views/product-integration/component-view/index.tsx
  src/views/product-integration/readme-view/index.tsx
  src/views/product-root-docs-path-landing/components/paragraph-block/index.tsx
  src/views/product-root-docs-path-landing/types.ts
  src/views/product-root-docs-path-landing/utils/prepare-marketing-blocks.ts
  src/views/tutorial-view/types.ts
  src/views/tutorial-view/utils/serialize-content.ts
  src/views/validated-designs/guide/index.tsx
  src/views/validated-designs/server.ts
Owners: none

feat: replace next/router with next/navigation
  src/views/docs-view/index.tsx
Owners: none

chore: add vercel speed insights (#2376)
  package-lock.json
  package.json
  src/pages/_app.tsx
Owners: none

feat: replace next/router with next/navigation in Docs View (#2379)
  src/views/docs-view/index.tsx
Owners: none

feat: update "Share Feedback" button to be primary state
  src/components/command-bar/commands/chat/index.tsx
Owners: none

Update types.ts
  src/lib/learn-client/types.ts
Owners: none

update names
  src/content/consul/install-landing.json
  src/content/consul/product-landing.json
  src/content/tutorials-landing.json
Owners: @hashicorp/consul-education-approvers, @hashicorp/education

feat: update "Share Feedback" button to be primary state (#2380)
  src/components/command-bar/commands/chat/index.tsx
Owners: none

Remove custom logic for Waypoint integrations
  build-libs/integration-multiple-component-redirects.js
  build-libs/redirects.js
  src/components/open-api-page/server/index.ts
  src/components/open-api-page/utils/index.js
  src/components/open-api-page/utils/remove-circular-references.js
  src/views/api-docs-view/server/get-api-docs-static-paths/fetch-api-docs-paths.ts
  src/views/api-docs-view/server/get-api-docs-static-paths/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/utils/build-schema-props.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

Removed rewriteWaypointPluginsToIntegrations
  build-libs/redirects.js
  src/lib/content-adjustments/index.ts
  src/lib/content-adjustments/rewrite-waypoint-plugins-to-integrations.ts
  src/views/docs-view/utils/product-url-adjusters.ts
  src/views/tutorial-view/utils/serialize-content.ts
Owners: none

feat: build aliases via helper function
  vitest.config.mts
Owners: none

Pull baseUrl from tsconfig settings
  vitest.config.mts
Owners: none

chore(deps): update next (#2377)
  package-lock.json
  package.json
Owners: none

feat: use vite-tsconfig-paths
  package-lock.json
  package.json
  vitest.config.mts
Owners: none

chore: add copywrite headers
  .test/setup-vitest.js
  src/data/product-data-map.ts
  src/lib/next-mdx-remote/__tests__/next-mdx-remote.test.tsx
  src/lib/next-mdx-remote/idle-callback-polyfill.js
  src/lib/next-mdx-remote/index.tsx
  src/lib/next-mdx-remote/serialize.ts
  src/lib/next-mdx-remote/types.ts
Owners: none

feat: replace esbuild with @swc/core
  package-lock.json
  package.json
  src/lib/next-mdx-remote/serialize.ts
  src/lib/next-mdx-remote/types.ts
Owners: none

Removed logic related to circular references in Waypoint API docs
  src/components/open-api-page/server/index.ts
  src/components/open-api-page/utils/index.js
  src/components/open-api-page/utils/remove-circular-references.js
  src/views/api-docs-view/server/get-api-docs-static-paths/fetch-api-docs-paths.ts
  src/views/api-docs-view/server/get-api-docs-static-paths/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/utils/build-schema-props.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

fix: don't set pragmaFrag
  src/lib/next-mdx-remote/serialize.ts
Owners: none

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
