Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

Add rehype code highlighting to HVD docs (#2410)
  src/views/validated-designs/server.ts
Owners: none

feat(infra cloud): update @hashicorp/mktg-logos (#335)
  package-lock.json
  package.json
  src/components/collection-card/components/company-logo/img/terraform-cloud-dark-mode.png
  src/components/collection-card/components/company-logo/img/terraform-cloud.png
  src/components/collection-card/components/company-logo/index.tsx
  src/components/footer/index.tsx
  src/components/try-hcp-callout/components/hcp-logo-heading/index.tsx
  src/lib/mktg-logos/hashicorp-horizontal_on-light.svg
  src/lib/mktg-logos/hcp-horizontal_on-dark.svg
  src/lib/mktg-logos/hcp-horizontal_on-light.svg
  src/views/homepage/components/featured-content-grid/hcp-featured-card.tsx
Owners: none

Replace black and white logos with svgs that don't have any whitespace
  src/components/navigation-header/img/logo-white.svg
  src/views/sign-up-view/img/logo-black.svg
Owners: none

chore(deps): update to next 14.2.1
  package-lock.json
  package.json
Owners: none

fix: correctly dynamically import axe
  src/pages/_app.tsx
Owners: none

feat: use react-design-system-components
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/components/branded-card/index.tsx
  src/pages/_app.tsx
  src/pages/style.css
  src/styles/themes/dark.css
  src/views/product-downloads-view/components/downloads-section/helpers.ts
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/server-helpers.ts
Owners: none

fix: bump to es2015
  tsconfig.json
Owners: none

chore(deps): bump react-design-system-components
  package-lock.json
  package.json
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

Changed Cloud refs and small fixes
  src/content/certifications/exam-faqs/terraform-associate-002.mdx
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
  src/content/certifications/landing-faq.mdx
  src/content/certifications/programs/infrastructure-automation.json
Owners: @lszpunar

Updated security and infra descriptions
  src/content/certifications/programs/infrastructure-automation.json
  src/content/certifications/programs/security-automation.json
Owners: @lszpunar

feat(infra cloud): update @hashicorp/mktg-logos (#335)
  package-lock.json
  package.json
  src/components/collection-card/components/company-logo/img/terraform-cloud-dark-mode.png
  src/components/collection-card/components/company-logo/img/terraform-cloud.png
  src/components/collection-card/components/company-logo/index.tsx
  src/components/footer/index.tsx
  src/components/try-hcp-callout/components/hcp-logo-heading/index.tsx
  src/lib/mktg-logos/hashicorp-horizontal_on-light.svg
  src/lib/mktg-logos/hcp-horizontal_on-dark.svg
  src/lib/mktg-logos/hcp-horizontal_on-light.svg
  src/views/homepage/components/featured-content-grid/hcp-featured-card.tsx
Owners: none

Update Edition label in tutorial landing page
  src/views/tutorial-library/constants.ts
Owners: none

Update instances of TFC to HCP TF
  src/components/try-hcp-callout/content.ts
  src/content/terraform/product-landing.json
Owners: @hashicorp/terraform-education-approvers

chore(deps): update to next 14.2.1 (#2411)
  package-lock.json
  package.json
  src/pages/_app.tsx
Owners: none

feat: use react-design-system-components (#2412)
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/components/branded-card/index.tsx
  src/pages/_app.tsx
  src/pages/style.css
  src/styles/themes/dark.css
  src/views/product-downloads-view/components/downloads-section/helpers.ts
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/server-helpers.ts
  tsconfig.json
Owners: none

Update heading
  src/components/try-hcp-callout/content.ts
Owners: none

Update Terraform Cloud to HCP Terraform on install page
  src/content/terraform/install-landing.json
Owners: @hashicorp/terraform-education-approvers

Update HCP Vault to HCP Vault Dedicated on product landing page
  src/components/try-hcp-callout/content.ts
Owners: none

Copy update on install page
  src/content/vault/install-landing.json
Owners: @hashicorp/vault-education-approvers

Terraform Cloud to HCP Terraform in search bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

Update Terraform label for docs version selector for cloud docs
  src/pages/terraform/cloud-docs/agents/[[...page]].tsx
Owners: none

Update tutorial badge name to HCP Terraform
  src/components/tutorial-meta/components/badges/helpers.tsx
Owners: none

Update TFC to HCP TF - TF docs page
  src/content/terraform/docs-landing.json
Owners: @hashicorp/terraform-education-approvers

Update Terraform Cloud to HCP Terraform on certification page
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
Owners: @lszpunar

Update linked card text
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

Update HCP Vault to HCP Vault dedicated in command bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

Update HCP Vault to HCP Vault Dedicated on HCP docs landing page
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

Update TFC to HCP Terraform in terraform.json
  src/data/terraform.json
Owners: none

Update HCP Vault to HCP Vault Dedicated for HCP tutorials page
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Update Terraform Cloud to HCP Terraform in Terraform cert faq
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
Owners: @lszpunar

Update TFC to HCPT Waypoint docs landing page
  src/content/waypoint/docs-landing.json
Owners: @hashicorp/education

White logo update
  src/components/navigation-header/img/logo-white.svg
Owners: none

Light & dark logos updated; added height for sign-up page logo
  src/components/navigation-header/img/logo-white.svg
  src/views/sign-up-view/img/logo-black.svg
  src/views/sign-up-view/sign-up.module.css
Owners: none

Replace black and white logos with svgs that don't have any whitespace
  src/components/navigation-header/img/logo-white.svg
  src/views/sign-up-view/img/logo-black.svg
Owners: none

Update site banner for HCP TF announcement (#340)
  src/data/alert-banner.json
  src/data/terraform.json
Owners: none

Update site banner for HCP TF announcement (#340)
  src/data/alert-banner.json
  src/data/terraform.json
Owners: none

HCP Vault Dedicated update
  src/content/hcp/product-landing.json
Owners: @hashicorp/education

sync dev-portal-internal changes (#2414)
  package-lock.json
  package.json
  src/components/collection-card/components/company-logo/img/terraform-cloud-dark-mode.png
  src/components/collection-card/components/company-logo/img/terraform-cloud.png
  src/components/collection-card/components/company-logo/index.tsx
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
  src/components/footer/index.tsx
  src/components/navigation-header/img/logo-white.svg
  src/components/try-hcp-callout/components/hcp-logo-heading/index.tsx
  src/components/try-hcp-callout/content.ts
  src/components/tutorial-meta/components/badges/helpers.tsx
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
  src/content/hcp/docs-landing.json
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
  src/content/sentinel/product-landing.json
  src/content/terraform/docs-landing.json
  src/content/terraform/install-landing.json
  src/content/terraform/product-landing.json
  src/content/vault/install-landing.json
  src/content/waypoint/docs-landing.json
  src/data/alert-banner.json
  src/data/terraform.json
  src/lib/mktg-logos/hashicorp-horizontal_on-light.svg
  src/lib/mktg-logos/hcp-horizontal_on-dark.svg
  src/lib/mktg-logos/hcp-horizontal_on-light.svg
  src/pages/terraform/cloud-docs/agents/[[...page]].tsx
  src/views/homepage/components/featured-content-grid/hcp-featured-card.tsx
  src/views/sign-up-view/img/logo-black.svg
  src/views/sign-up-view/sign-up.module.css
  src/views/tutorial-library/constants.ts
Owners: @lszpunar, @hashicorp/education, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers

Update Consul tutorial collections (#2357)
  src/content/certifications/programs/networking-automation.json
  src/content/consul/install-landing.json
  src/content/consul/product-landing.json
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @lszpunar, @hashicorp/consul-education-approvers, @hashicorp/education

Update README to remove incorrect information that productSlug.json is used for .io sites
  src/data/README.md
Owners: none
