Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

updates boundary/community- tutorial links
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

removes boundary/community-* links
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

remove boundary/oss- tutorial links (#2432)
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

removes missed boundary/oss link
  src/content/tutorials-landing.json
Owners: @hashicorp/education

Tutorials: removes missed boundary/oss link from tutorials landing page (#2433)
  src/content/tutorials-landing.json
Owners: @hashicorp/education

* Excluded the .extracted directory from the test configuration as it was a collection of failing tests that provided limited value * Skipped flaking test for use-seconds-watched.
  src/components/video-embed/__tests__/use-seconds-watched.test.tsx
  vitest.config.mts
Owners: none

* Excluded the .extracted directory from the test configuration as it was a collection of failing tests that provided limited value * Skipped flaking test for use-seconds-watched.
  src/components/video-embed/__tests__/use-seconds-watched.test.tsx
  vitest.config.mts
Owners: none

Properly set mocked time to advance 1 second.
  src/components/video-embed/__tests__/use-seconds-watched.test.tsx
Owners: none

Update test suite so all test pass. (#2435)
  src/components/video-embed/__tests__/use-seconds-watched.test.tsx
  vitest.config.mts
Owners: none

HCP TF docs agents
  .vscode/settings.json
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
  src/data/terraform.json
Owners: none

fix unintentionally change
  .vscode/settings.json
Owners: none

HCP TF docs agents (#2436)
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
  src/data/terraform.json
Owners: none

chore: fix up favicon for prefers-color-scheme
  public/favicon.svg
  public/icon.svg
  src/components/head-metadata/index.tsx
Owners: none

fix: issue with sizes maybe
  src/components/head-metadata/index.tsx
Owners: none

chore: dev and preview svg icons
  public/favicon-dev.ico
  public/favicon-dev.svg
  public/favicon-preview.ico
  public/favicon-preview.svg
  public/favicon.ico
  src/components/head-metadata/index.tsx
Owners: none

docs: add note on potentially simpler approach
  src/components/head-metadata/index.tsx
Owners: none

chore: fix up favicon for prefers-color-scheme (#2437)
  public/favicon-dev.ico
  public/favicon-dev.svg
  public/favicon-preview.ico
  public/favicon-preview.svg
  public/favicon.ico
  public/favicon.svg
  public/icon.svg
  src/components/head-metadata/index.tsx
Owners: none

adds community edition tutorials
  src/content/boundary/install-landing.json
  src/content/tutorials-landing.json
Owners: @hashicorp/boundary-education-approvers, @hashicorp/education

adds community edition and session recording tutorials
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

Update action and node versions in GHA workflows; update npm to v9.6.7 in package.json from v8
  .github/workflows/auto-merge-staging.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/close-stale-prs.yml
  .github/workflows/docker_publish.yml
  .github/workflows/docs-content-check-legacy-links-format.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
  .github/workflows/repo-sync.yml
  package.json
Owners: none

Update node version to 20 and nom to 10
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
Owners: none

Change npm version to 9.6.4 to match node v20.0.0
  .github/workflows/cache.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
Owners: none

Update .github/workflows/close-stale-prs.yml
  .github/workflows/close-stale-prs.yml
Owners: none

Update bahmutov-npm-install
  .github/workflows/nextjs_bundle_analysis.yml
Owners: none

docs: add more comments
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/index.tsx
  src/lib/rehype-code-plugins.ts
  src/lib/syntax-highlighting/index.ts
Owners: none

chore: revert npm-related changes
  .github/workflows/cache.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
  package.json
Owners: none

chore: update actions/checkout to latest approved version
  .github/workflows/auto-merge-staging.yml
Owners: none

chore: update actions to latest approved versions
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/docker_publish.yml
  .github/workflows/docs-content-check-legacy-links-format.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
  .github/workflows/repo-sync.yml
Owners: none

fixes boundary/get-started-community path
  src/content/tutorials-landing.json
Owners: @hashicorp/education

Rab boundary add community links (#2438)
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
  src/content/tutorials-landing.json
Owners: @hashicorp/boundary-education-approvers, @hashicorp/education

chore: update GitHub Actions workflows to node 20 (#2439)
  .github/workflows/auto-merge-staging.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/close-stale-prs.yml
  .github/workflows/docker_publish.yml
  .github/workflows/docs-content-check-legacy-links-format.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/register-preview-url.yml
  .github/workflows/repo-sync.yml
Owners: none

fix: update repo-sync script for dev-portal-internal
  .github/workflows/repo-sync.yml
Owners: none

chore: rm closePullRequest for merge conflicts
  .github/workflows/repo-sync.yml
Owners: none

fix: update repo-sync script for dev-portal-internal (#2440)
  .github/workflows/repo-sync.yml
Owners: none

feat: use shiki for docs code blocks (#2427)
  package-lock.json
  package.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/index.tsx
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/language-names.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/mdx-code-blocks.module.css
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/syntaxes.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/utils.ts
  src/components/tabs/components/tab/types.ts
  src/lib/rehype-code-plugins.ts
  src/lib/syntax-highlighting/index.ts
  src/lib/syntax-highlighting/languages/sentinel.tmGrammar.json
  src/lib/syntax-highlighting/theme.ts
Owners: none

fix: allow rego codeblocks
  src/lib/rehype-code-plugins.ts
Owners: none

fix: allow shell-session#
  src/lib/rehype-code-plugins.ts
Owners: none

fix: allow env
  src/lib/rehype-code-plugins.ts
Owners: none

feat: fallback to plaintext
  src/lib/rehype-code-plugins.ts
Owners: none

fix: allow more codeblock languages (#2441)
  src/lib/rehype-code-plugins.ts
Owners: none
