Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

Add example and link to Terraform metadata file
  src/data/README.md
Owners: none

bump @hashicorp/design-system-tokens version to 2.1.0
  package-lock.json
  package.json
Owners: none

[chore]: bump @hashicorp/design-system-tokens version to 2.1.0 (#2416)
  package-lock.json
  package.json
Owners: none

Remove hvd guide name filter
  src/views/validated-designs/__tests__/server.ts
  src/views/validated-designs/index.tsx
  src/views/validated-designs/server.ts
  src/views/validated-designs/types.ts
Owners: none

Fix a bug when setting aria-describedby
  src/components/link/index.tsx
Owners: none

Certification pages HCP Terraform changes--MERGE AFTER APRIL 22! (#2413)
  src/content/certifications/exam-faqs/terraform-associate-002.mdx
  src/content/certifications/landing-faq.mdx
  src/content/certifications/programs/infrastructure-automation.json
  src/content/certifications/programs/security-automation.json
Owners: @lszpunar

Remove hvd guide name filter (#2417)
  src/views/validated-designs/__tests__/server.ts
  src/views/validated-designs/index.tsx
  src/views/validated-designs/server.ts
  src/views/validated-designs/types.ts
Owners: none

update alert banner
  src/data/alert-banner.json
Owners: none

update alert banner (#2421)
  src/data/alert-banner.json
Owners: none

handle case if both ifs are true
  src/components/link/index.tsx
Owners: none

Fix a bug when setting aria-describedby (#2418)
  src/components/link/index.tsx
Owners: none

Add hvd download PDF link
  src/views/validated-designs/guide/index.tsx
Owners: none

Add new sign up graphics
  src/views/sign-up-view/img/aside-graphic.svg
  src/views/sign-up-view/img/devdot_signup_v1.svg
  src/views/sign-up-view/index.tsx
  src/views/sign-up-view/sign-up.module.css
Owners: none

Hide decorative svg from a11y tree
  src/views/sign-up-view/img/devdot_signup_v1.svg
Owners: none

Optimize svg with optimizt
  src/views/sign-up-view/img/devdot_signup_v1.svg
Owners: none

Add hvd download PDF link (#2422)
  src/views/validated-designs/guide/index.tsx
Owners: none

Update README.md
  src/data/README.md
Owners: none

Add HCP Consul, match order in HCP Portal
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Add HCP Consul, match order in HCP Portal (#2424)
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Add new title gradient and background
  src/views/homepage/components/page-title/page-title.module.css
  src/views/homepage/homepage.module.css
  src/views/homepage/img/background-dark.svg
Owners: none

Remove Radar and Secrets from tutorial nav json (moved up)
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Add new sign up graphics (#2423)
  src/views/sign-up-view/img/aside-graphic.svg
  src/views/sign-up-view/img/devdot_signup_v1.svg
  src/views/sign-up-view/index.tsx
  src/views/sign-up-view/sign-up.module.css
Owners: none

Remove Radar and Secrets from tutorial nav json (moved up) (#2426)
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

feat: use shiki for docs code blocks
  package-lock.json
  package.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/index.tsx
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/language-names.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/mdx-code-blocks.module.css
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/syntaxes.json
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/utils.ts
  src/components/tabs/components/tab/types.ts
  src/lib/rehype-code-plugins.ts
  src/lib/syntax-highlighting/index.ts
  src/lib/syntax-highlighting/languages/sentinel.tmGrammar.json
  src/lib/syntax-highlighting/theme.ts
Owners: none

feat: add more lang aliases
  src/lib/rehype-code-plugins.ts
Owners: none

feat: add more lang aliases
  src/lib/rehype-code-plugins.ts
Owners: none

feat: add more lang aliases
  src/lib/rehype-code-plugins.ts
Owners: none

[chore]: update Product Data README secton (#2415)
  src/data/README.md
Owners: none

Always show border when active for user login menu
  src/components/navigation-header/navigation-header.module.css
Owners: none

Default to null and only set when needed
  src/components/link/index.tsx
Owners: none

Always show border when active for user login menu (#2428)
  src/components/navigation-header/navigation-header.module.css
Owners: none

Only show aria-controls when sidebar is open
  src/components/sidebar/components/sidebar-nav-menu-item/index.tsx
Owners: none

Only show aria-controls when specific sidebar menu is open (#2430)
  src/components/sidebar/components/sidebar-nav-menu-item/index.tsx
Owners: none

Default aria-describedby to null and only set when needed (#2429)
  src/components/link/index.tsx
Owners: none

Update HCP Consul to HCP Consul Dedicated
  src/content/consul/install-landing.json
Owners: @hashicorp/consul-education-approvers

Update HCP Consul to HCP Consul dedicated - HCP callout card
  src/components/try-hcp-callout/content.ts
Owners: none

HCP Consul to HCP Consul Dedicated
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

Update HCP Consult to HCP Consul Dedicated in search bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

Update HCP Consul in individual tutorial and product landing json files to avoid merge conflicts
  src/content/consul/product-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/consul-education-approvers, @hashicorp/education

Update HCP Consul to HCP Consul Dedicated (#2431)
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
  src/components/try-hcp-callout/content.ts
  src/content/consul/install-landing.json
  src/content/consul/product-landing.json
  src/content/hcp/docs-landing.json
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/consul-education-approvers, @hashicorp/education

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
