Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

fix(tests): use target different from default
  src/lib/next-mdx-remote/__tests__/next-mdx-remote.test.tsx
Owners: none

[chore] Remove logic related to Waypoint API docs (#2387)
  src/components/open-api-page/server/index.ts
  src/components/open-api-page/utils/index.js
  src/components/open-api-page/utils/remove-circular-references.js
  src/views/api-docs-view/server/get-api-docs-static-paths/fetch-api-docs-paths.ts
  src/views/api-docs-view/server/get-api-docs-static-paths/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/index.ts
  src/views/api-docs-view/server/get-api-docs-static-props/utils/build-schema-props.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

remove integrationMultipleComponentRedirects
  build-libs/integration-multiple-component-redirects.js
  build-libs/redirects.js
Owners: none

Removed rewrite-waypoint-plugins-to-integrations from serialize-content
  src/lib/content-adjustments/index.ts
  src/lib/content-adjustments/rewrite-waypoint-plugins-to-integrations.ts
  src/views/tutorial-view/utils/serialize-content.ts
Owners: none

Remove rewriteWaypointPluginsToIntegrations from product-url-adjusters
  src/views/docs-view/utils/product-url-adjusters.ts
Owners: none

Remove getRedirectsFromContentRepo for Waypoint
  build-libs/redirects.js
Owners: none

[chore] Remove Waypoint integrations/plugins logic (#2389)
  build-libs/integration-multiple-component-redirects.js
  build-libs/redirects.js
  src/lib/content-adjustments/index.ts
  src/lib/content-adjustments/rewrite-waypoint-plugins-to-integrations.ts
  src/views/docs-view/utils/product-url-adjusters.ts
  src/views/tutorial-view/utils/serialize-content.ts
Owners: none

feat: replace esbuild with @swc/core (#2388)
  package-lock.json
  package.json
  src/lib/next-mdx-remote/__tests__/next-mdx-remote.test.tsx
  src/lib/next-mdx-remote/serialize.ts
  src/lib/next-mdx-remote/types.ts
Owners: none

experiment: enable bundlePagesExternals
  next.config.js
  package.json
Owners: none

update alert banner
  src/data/alert-banner.json
  src/data/boundary.json
  src/data/consul.json
  src/data/nomad.json
  src/data/packer.json
  src/data/terraform.json
  src/data/vagrant.json
  src/data/vault.json
  src/data/waypoint.json
Owners: none

add expiration
  src/data/alert-banner.json
  src/data/boundary.json
  src/data/consul.json
  src/data/nomad.json
  src/data/packer.json
  src/data/terraform.json
  src/data/vagrant.json
  src/data/vault.json
  src/data/waypoint.json
Owners: none

Update AlertBanner with HashiDays content (#2390)
  src/data/alert-banner.json
  src/data/boundary.json
  src/data/consul.json
  src/data/nomad.json
  src/data/packer.json
  src/data/terraform.json
  src/data/vagrant.json
  src/data/vault.json
  src/data/waypoint.json
Owners: none

Harden and cleanup HVD content load/reload
  package.json
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
  src/views/validated-designs/server.ts
Owners: none

feat: replace CodeTabs with Tabs on install pages
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

Update Edition label in tutorial landing page
  src/views/tutorial-library/constants.ts
Owners: none

Update instances of TFC to HCP TF
  src/components/try-hcp-callout/content.ts
  src/content/terraform/product-landing.json
Owners: @hashicorp/terraform-education-approvers

Update heading
  src/components/try-hcp-callout/content.ts
Owners: none

Update src/views/validated-designs/server.ts
  src/views/validated-designs/server.ts
Owners: none

correct the name of the function in a comment
  scripts/extract-hvd-content.ts
Owners: none

Harden and cleanup HVD content load/reload (#2391)
  package.json
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
  src/views/validated-designs/server.ts
Owners: none

Update networking-automation.json
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Revert changes to try-hcp-callout as it's out of scope for this ticket
  src/components/try-hcp-callout/content.ts
Owners: none

Update Terraform Cloud to HCP Terraform on install page
  src/content/terraform/install-landing.json
Owners: @hashicorp/terraform-education-approvers

fix: account for releases without builds
  src/lib/fetch-release-data.ts
  src/views/docs-view/utils/get-latest-vagrant-vmware-version.ts
  src/views/product-downloads-view/helpers.ts
Owners: none

fix: account for releases without builds (#2394)
  src/lib/fetch-release-data.ts
  src/views/docs-view/utils/get-latest-vagrant-vmware-version.ts
  src/views/product-downloads-view/helpers.ts
Owners: none

Move deleted folder before creating it
  scripts/extract-hvd-content.ts
Owners: none

Move away from renameSync
  scripts/extract-hvd-content.ts
Owners: none

Update Terraform Cloud to HCP Terraform on product landing page
  src/components/try-hcp-callout/content.ts
Owners: none

Update HCP Vault to HCP Vault Dedicated on product landing page
  src/components/try-hcp-callout/content.ts
Owners: none

Copy update on install page
  src/content/vault/install-landing.json
Owners: @hashicorp/vault-education-approvers

Update HCP Vault to HCP Vault Dedicated on product landing page
  src/components/try-hcp-callout/content.ts
Owners: none

Update HCP Consul to HCP Consul Dedicated
  src/content/consul/install-landing.json
Owners: @hashicorp/consul-education-approvers

Move to using a singleton to wrap the promise
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
Owners: none

Clean up the code a bit
  scripts/extract-hvd-content.ts
Owners: none

Make sure that throwing is crashing the build
  scripts/extract-hvd-content.ts
Owners: none

Make HVD extraction failures errors
  src/pages/validated-designs/index.tsx
Owners: none

Fail if HVD is missing during dev-portal builds
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/index.tsx
Owners: none

Move all noncheck code into try block
  scripts/extract-hvd-content.ts
Owners: none

Test to make sure build fails
  scripts/extract-hvd-content.ts
Owners: none

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
