Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

Apply suggestions from code review
  src/content/terraform/docs-landing.json
  src/content/terraform/product-landing.json
Owners: @hashicorp/terraform-education-approvers

Navbar confusion
  src/data/terraform.json
Owners: none

forgot to remove
  src/data/terraform.json
Owners: none

Change security automation description text and a link
  src/content/certifications/programs/security-automation.json
  src/pages/hcp/api-docs/consul/[[...page]].tsx
Owners: @lszpunar

Allow intro at root level without it being in docs
  src/components/sidebar/helpers/generate-product-landing-nav-items.ts
  src/data/terraform.json
Owners: none

Moved Consul certification info and added necessary redirect (#2472)
  build-libs/redirects.js
  src/content/certifications/landing.json
  src/content/certifications/programs/networking-automation.json
  src/content/certifications/programs/security-automation.json
  src/pages/hcp/api-docs/consul/[[...page]].tsx
Owners: @lszpunar

Signal boosting phases of TF and intro sections (#2471)
  src/components/sidebar/helpers/generate-product-landing-nav-items.ts
  src/content/terraform/docs-landing.json
  src/content/terraform/product-landing.json
  src/data/terraform.json
Owners: @hashicorp/terraform-education-approvers
