Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

Remove test failure
  scripts/extract-hvd-content.ts
Owners: none

Log during promise creation
  scripts/extract-hvd-content.ts
Owners: none

Revert "Harden and cleanup HVD content load/reload (#2391)"
  package.json
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
  src/views/validated-designs/server.ts
Owners: none

Move file create back out of try
  scripts/extract-hvd-content.ts
Owners: none

Skip if already downloaded by process var
  scripts/extract-hvd-content.ts
Owners: none

Don't remove any files
  scripts/extract-hvd-content.ts
Owners: none

skip if file already exists
  scripts/extract-hvd-content.ts
Owners: none

feat: mdx playground
  next-env.d.ts
  package-lock.json
  package.json
  src/app/docs-preview/action.ts
  src/app/docs-preview/form.module.css
  src/app/docs-preview/form.tsx
  src/app/docs-preview/page.tsx
  src/app/layout.tsx
  src/components/dev-dot-content/mdx-components/mdx-headings/utils/is-injected-permalink.ts
  src/components/tabs/components/tab-button-controls/index.tsx
  src/lib/next-mdx-remote/index.tsx
  src/pages/_app.tsx
  tsconfig.json
Owners: none

fix: typo
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

Revert "Harden and cleanup HVD content load/reload (#2391)" (#2396)
  package.json
  scripts/extract-hvd-content.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/pages/validated-designs/index.tsx
  src/views/validated-designs/server.ts
Owners: none

Clean up docker file to modern standards
  Dockerfile
Owners: none

fix: typo (#2397)
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

chore(deps): use next@canary
  package-lock.json
  package.json
Owners: none

chore(deps): install babel preset typescript
  package-lock.json
  package.json
Owners: none

Clean up docker file to modern standards (#2398)
  Dockerfile
Owners: none

Update HCP Consul to HCP Consul Dedicated in product landing page json
  src/content/consul/product-landing.json
Owners: @hashicorp/consul-education-approvers

Update HCP Consul to HCP Consul dedicated - HCP callout card
  src/components/try-hcp-callout/content.ts
Owners: none

HCP Consul to HCP Consul Dedicated
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

HCP Consul to HCP Consul Dedicated - HCP landing page
  src/content/hcp/product-landing.json
Owners: @hashicorp/education

Update HCP tutorials sidebar - Consul
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Update HCP Consult to HCP Consul Dedicated in search bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

fix: only fetch tutorials map once
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
Owners: none

fix: use native fetch
  src/lib/learn-client/index.ts
Owners: none

Terraform Cloud to HCP Terraform in search bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

testing: don't fetch tutorials
  src/views/docs-view/server.ts
Owners: none

Update Terraform label for docs version selector for cloud docs
  src/pages/terraform/cloud-docs/agents/[[...page]].tsx
Owners: none

experiment: restore generateTutorialsMap
  src/views/docs-view/server.ts
Owners: none

experiment: make single fetch
  src/views/docs-view/server.ts
  src/views/docs-view/utils/get-root-docs-path-generation-functions.ts
Owners: none

Update tutorial badge name to HCP Terraform
  src/components/tutorial-meta/components/badges/helpers.tsx
Owners: none

experiment: remove debugging
  src/views/docs-view/server.ts
  src/views/docs-view/utils/get-root-docs-path-generation-functions.ts
Owners: none

Update TFC to HCP TF - TF docs page
  src/content/terraform/docs-landing.json
Owners: @hashicorp/terraform-education-approvers

fix: only fetch tutorials map once (#2399)
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/learn-client/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
Owners: none

Revert "fix: only fetch tutorials map once (#2399)"
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/learn-client/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
Owners: none

Revert "fix: only fetch tutorials map once" (#2400)
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/learn-client/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
Owners: none

feat: use pre-generated tutorials map
  package.json
  scripts/docs-content-link-rewrites/helpers/get-mdx-links-to-rewrite.ts
  scripts/docs-content-link-rewrites/rewrite-links-plugin.ts
  scripts/docs-content-link-rewrites/rewrite-links.ts
  scripts/generate-tutorial-map.ts
  src/data/_tutorial-map.generated.json
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/learn-client/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/index.ts
  src/lib/sitemap/tutorials-content-fields.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
  src/views/product-tutorials-view/helpers/__tests__/detect-and-reformat-learn-url.test.ts
  src/views/product-tutorials-view/helpers/detect-and-reformat-learn-url.ts
Owners: none

feat: enable opentelemetry tracing
  next.config.js
  package-lock.json
  package.json
  src/instrumentation.ts
Owners: none

feat: add some traces
  package-lock.json
  package.json
  src/lib/next-mdx-remote/serialize.ts
  src/views/docs-view/render-page-mdx.ts
Owners: none

feat: use pre-generated tutorials map (#2401)
  package.json
  scripts/docs-content-link-rewrites/helpers/get-mdx-links-to-rewrite.ts
  scripts/docs-content-link-rewrites/rewrite-links-plugin.ts
  scripts/docs-content-link-rewrites/rewrite-links.ts
  scripts/generate-tutorial-map.ts
  src/data/_tutorial-map.generated.json
  src/layouts/sidebar-sidecar/utils/prepare-nav-data-for-client.ts
  src/lib/learn-client/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/__tests__/rewrite-tutorial-links.test.ts
  src/lib/remark-plugins/rewrite-tutorial-links/index.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/get-tutorial-map.ts
  src/lib/remark-plugins/rewrite-tutorial-links/utils/index.ts
  src/lib/sitemap/tutorials-content-fields.ts
  src/pages/api/tutorials-map.ts
  src/views/docs-view/server.ts
  src/views/product-tutorials-view/helpers/__tests__/detect-and-reformat-learn-url.test.ts
  src/views/product-tutorials-view/helpers/detect-and-reformat-learn-url.ts
Owners: none

update na page
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

update collections
  src/content/consul/product-landing.json
  src/content/hcp/product-landing.json
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @hashicorp/consul-education-approvers, @hashicorp/education

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
