Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

Update main cert page
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Update consul-associate-003 faqs page
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

json sucks
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

feat: differentiate the $ prefix in shell-session
  src/lib/syntax-highlighting/theme.ts
Owners: none

removes boundary/hcp-getting-started
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @hashicorp/education

removes boundary/hcp-getting-started (#2445)
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @hashicorp/education

Remove consul 002 retired exam from cert pages (#2443)
  src/content/certifications/exam-faqs/consul-associate-003.mdx
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

feat: support massageRawSchema for OpenAPI docs
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

feat: massageRawSchema to rein in protobufAny docs
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
Owners: none

chore: update massageRawSchema types for accuracy
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

Add redirect for waypoint/commands/:slug
  build-libs/redirects.js
Owners: none

docs: add todo related to massageSchema
  src/views/open-api-docs-view/types.ts
Owners: none

feat: align on massageRawSchema
  src/pages/api/get-open-api-docs-view-props.ts
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
Owners: none

chore: split out shortenToHcpInTitle
  src/pages/api/get-open-api-docs-view-props.ts
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
  src/views/open-api-docs-view/utils/shorten-to-hcp-in-title.ts
Owners: none

[chore] Add redirect for waypoint/commands/:slug (#2447)
  build-libs/redirects.js
Owners: none

refactor: switch to modifications after parse & validate
  src/pages/api/get-open-api-docs-view-props.ts
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/server.ts
  src/views/open-api-docs-view/types.ts
  src/views/open-api-docs-view/utils/massage-schema-utilities.ts
  src/views/open-api-docs-view/utils/parse-and-validate-schema.ts
  src/views/open-api-docs-view/utils/shorten-to-hcp-in-title.ts
Owners: none

fix: add language class to pre element
  src/lib/rehype-code-plugins.ts
Owners: none

chore: cleanup schema modification utils
  src/pages/api/get-open-api-docs-view-props.ts
  src/pages/hcp/api-docs/consul/[[...page]].tsx
  src/pages/hcp/api-docs/packer/[[...page]].tsx
  src/pages/hcp/api-docs/vault-secrets/[[...page]].tsx
  src/pages/hcp/api-docs/webhook/[[...page]].tsx
  src/views/open-api-docs-view/utils/massage-schema-utilities.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/index.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-component.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-description.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-shorten-hcp.ts
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-title.ts
Owners: none

chore: fix typo
  src/pages/api/get-open-api-docs-view-props.ts
Owners: none

fix: support static tab names for MDX CodeTabs
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/index.tsx
Owners: none

chore: clean up descriptions
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
Owners: none

chore: replace see with visit, more accurate
  src/views/open-api-docs-view/utils/massage-schema-utils/schema-mod-protobuf-any.ts
Owners: none

feat: differentiate the $ prefix in shell-session (#2444)
  src/lib/syntax-highlighting/theme.ts
Owners: none

fix: render correct codetabs names (#2448)
  src/components/dev-dot-content/mdx-components/mdx-code-blocks/index.tsx
  src/lib/rehype-code-plugins.ts
Owners: none

fix(open-api-docs): fix overflowing descriptions
  src/views/open-api-docs-view/components/property-details/index.tsx
  src/views/open-api-docs-view/components/property-details/property-details.module.css
Owners: none

chore: bump code-block for complex snippet copy
  package-lock.json
  package.json
Owners: none

fix: sentinel is a known language
  src/lib/rehype-code-plugins.ts
Owners: none

fix: don't log error on `text`
  src/lib/rehype-code-plugins.ts
Owners: none

fix: sentinel is a known language (#2451)
  src/lib/rehype-code-plugins.ts
Owners: none

Remove old consul associate exam from consul landing page
  src/content/consul/product-landing.json
Owners: @hashicorp/consul-education-approvers

chore: bump react-design-system-tokens to match
  package-lock.json
  package.json
Owners: none

chore: pin to exact versions
  package-lock.json
  package.json
Owners: none

adds boundary/get-started-hcp collection
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Owners: @hashicorp/education

Disable syntax highlighting in DAI
  src/components/chatbox/Markdown.tsx
Owners: none

Disable syntax highlighting in DAI (#2454)
  src/components/chatbox/Markdown.tsx
Owners: none

fix(open-api-docs): fix overflowing descriptions (#2449)
  src/views/open-api-docs-view/components/property-details/index.tsx
  src/views/open-api-docs-view/components/property-details/property-details.module.css
Owners: none

chore: bump to pull in shellwords fix
  package-lock.json
  package.json
Owners: none

chore: bump code-block for complex snippet copy (#2450)
  package-lock.json
  package.json
Owners: none

fix: prevent nbsp characters from being manually copied
  src/lib/rehype-code-plugins.ts
  src/pages/style.css
Owners: none

feat: use native fetch for tutorial variant map
  scripts/generate-tutorial-variant-map.ts
Owners: none

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
