Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar

cleanup: remove code for dark mode toast
  src/layouts/core-dev-dot-layout/index.tsx
  src/lib/toast/make-dark-mode-notification.ts
Owners: none

feat: replace useRouter with usePathname
  src/layouts/sidebar-sidecar/components/sidecar-scroll-container/index.tsx
Owners: none

feat: enable opentelemetry tracing (#2402)
  next.config.js
  package-lock.json
  package.json
  src/instrumentation.ts
  src/lib/next-mdx-remote/serialize.ts
  src/views/docs-view/render-page-mdx.ts
Owners: none

cleanup: remove code for dark mode toast (#2403)
  src/layouts/core-dev-dot-layout/index.tsx
  src/lib/toast/make-dark-mode-notification.ts
Owners: none

feat: replace CodeTabs with Tabs on install pages (#2392)
  src/views/product-downloads-view/components/downloads-section/index.tsx
Owners: none

Update Terraform Cloud to HCP Terraform on certification page
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
  src/content/certifications/exam-faqs/terraform-authoring-operations-professional.mdx
Owners: @lszpunar

Update linked card text
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

feat: replace useRouter with usePathname (#2404)
  src/layouts/sidebar-sidecar/components/sidecar-scroll-container/index.tsx
Owners: none

Update HCP Vault to HCP Vault dedicated in command bar
  src/components/command-bar/commands/search/helpers/generate-suggested-pages.tsx
Owners: none

Update HCP Vault to HCP Vault Dedicated on HCP docs landing page
  src/content/hcp/docs-landing.json
Owners: @hashicorp/education

Update HCP Vault to HCP Vault Dedicated HCP landing page sidebar
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Revert "Update HCP Vault to HCP Vault Dedicated HCP landing page sidebar"
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Update TFC to HCP Terraform in terraform.json
  src/data/terraform.json
Owners: none

Update HCP Vault to HCP Vault Dedicated for HCP tutorials page
  src/content/hcp/tutorials-sidebar.json
Owners: @hashicorp/education

Update HCP Vault to HCP Vault Dedicated HCP landing page sidebar
  src/content/hcp/product-landing.json
Owners: @hashicorp/education

Added content differences table
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
Owners: @lszpunar

TF Assoc 003: Added content differences table (#2405)
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
Owners: @lszpunar

Update Terraform Cloud to HCP Terraform in Terraform cert faq
  src/content/certifications/exam-faqs/terraform-associate-003.mdx
Owners: @lszpunar

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Update networking-automation.json
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

add comma
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Apply suggestions from code review
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Update networking-automation.json
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Update src/content/certifications/exam-faqs/consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Added table with exam version delta
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

copy edit consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Updated descriptions based on Lauren's changes
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

Remove unused klavika font
  src/pages/style.css
Owners: none

Update TFC to HCPT Waypoint docs landing page
  src/content/waypoint/docs-landing.json
Owners: @hashicorp/education

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Update consul-associate-003.mdx
  src/content/certifications/exam-faqs/consul-associate-003.mdx
Owners: @lszpunar

Consul Associate 003 developer page (#2393)
  src/content/certifications/exam-faqs/consul-associate-003.mdx
  src/content/certifications/programs/networking-automation.json
Owners: @lszpunar

[chore] Remove unused klavika font (#2407)
  src/pages/style.css
Owners: none

chore: reduce speed insights sample rate for cost control
  src/pages/_app.tsx
Owners: none

Reduce speed insights sample rate (#2409)
  src/pages/_app.tsx
Owners: none

White logo update
  src/components/navigation-header/img/logo-white.svg
Owners: none

Light & dark logos updated; added height for sign-up page logo
  src/components/navigation-header/img/logo-white.svg
  src/views/sign-up-view/img/logo-black.svg
  src/views/sign-up-view/sign-up.module.css
Owners: none

Add rehype code highlighting to HVD docs
  src/views/validated-designs/server.ts
Owners: none
