Repository hashicorp/dev-portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashicorp/education, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers, @hashicorp/boundary-education-approvers, @lszpunar

feat: sentinel gradient in HeroHeadingVisual
  src/views/product-landing/components/hero-heading-visual/index.tsx
Owners: none

chore: update sentinel header asset
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

feat: support no image in overview-cta
  src/views/product-landing/components/overview-cta/index.tsx
  src/views/product-landing/components/overview-cta/overview-cta.module.css
  src/views/product-landing/components/overview-cta/types.ts
  src/views/product-landing/schema.ts
Owners: none

chore: rm placeholder img from sentinel landing
  src/content/sentinel/product-landing.json
Owners: @hashicorp/education

chore: update sentinel header (#2277)
  src/content/sentinel/product-landing.json
  src/views/product-landing/components/hero-heading-visual/index.tsx
Owners: @hashicorp/education

chore: rm Sentinel landing placeholder img (#2278)
  src/content/sentinel/product-landing.json
  src/views/product-landing/components/overview-cta/index.tsx
  src/views/product-landing/components/overview-cta/overview-cta.module.css
  src/views/product-landing/components/overview-cta/types.ts
  src/views/product-landing/schema.ts
Owners: @hashicorp/education

Update back button text label
  src/views/validated-designs/guide/index.tsx
Owners: none

guard against empty front matter
  src/views/validated-designs/server.ts
Owners: none

chore(deps): use release version of react-docs-page
  package-lock.json
  package.json
Owners: none

quick style jam with kelly
  src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/index.tsx
Owners: none

Bug fix: resources section of nav in tutorials wasn't added
  src/components/sidebar/index.tsx
Owners: none

Bug fix: resources section of nav in tutorials wasn't added (#2284)
  src/components/sidebar/index.tsx
Owners: none

Tiny Wins: SEO: fix duplicated description tag (#2265)
  src/views/well-architected-framework/tutorial-view/index.tsx
Owners: none

clean up css styles
  src/views/validated-designs/guide/detail-view.module.css
Owners: none

clean up old comments
  src/lib/remark-plugins/rewrite-static-hvd-assets/index.ts
  src/pages/validated-designs/[...slug]/index.tsx
  src/views/validated-designs/server.ts
Owners: none

add a @scripts folder alias
  src/views/validated-designs/server.ts
  tsconfig.json
Owners: none

Edited install-landing pages
  src/content/boundary/install-landing.json
  src/content/consul/install-landing.json
  src/content/nomad/install-landing.json
  src/content/packer/install-landing.json
  src/content/terraform/install-landing.json
  src/content/vagrant/install-landing.json
  src/content/vagrant/install-vmware-landing.json
  src/content/vault/install-landing.json
  src/content/waypoint/install-landing.json
Owners: @hashicorp/boundary-education-approvers, @hashicorp/consul-education-approvers, @topfunky, @hashicorp/education, @hashicorp/terraform-education-approvers, @hashicorp/vault-education-approvers

Set max-width for guide cardlink
  src/views/validated-designs/style.module.css
Owners: none

Finish styling; moved shared components to landingpage component dir
  src/components/docs-landing-hero/docs-landing-hero.module.css
  src/components/docs-landing-hero/index.tsx
  src/components/docs-landing-hero/types.ts
  src/components/landing-hero/components/hero/hero.module.css
  src/components/landing-hero/components/hero/index.tsx
  src/components/landing-hero/index.tsx
  src/layouts/base-layout/index.tsx
  src/views/certifications/components/certifications-hero/types.ts
  src/views/certifications/components/index.tsx
  src/views/certifications/views/[slug]/components/program-hero/index.tsx
  src/views/certifications/views/[slug]/components/program-hero/types.ts
  src/views/docs-view/components/landing-hero/types.ts
  src/views/docs-view/index.tsx
  src/views/product-root-docs-path-landing/components/hero/index.tsx
  src/views/validated-designs/index.tsx
  src/views/validated-designs/server.ts
  src/views/validated-designs/style.module.css
  src/views/validated-designs/types.ts
Owners: none

Fix css import
  src/components/docs-landing-hero/index.tsx
Owners: none

Changed div to section
  src/views/validated-designs/index.tsx
Owners: none

Moved HeroProps type to global components dir
  src/components/landing-hero/components/hero/index.tsx
  src/components/landing-hero/components/hero/types.ts
  src/views/certifications/views/[slug]/components/program-hero/index.tsx
  src/views/certifications/views/[slug]/components/program-hero/types.ts
Owners: none

Finished styling for hvd landing page
  src/components/landing-hero/components/hero/hero.module.css
  src/components/landing-hero/components/hero/index.tsx
  src/components/landing-hero/index.tsx
  src/views/validated-designs/index.tsx
  src/views/validated-designs/style.module.css
Owners: none

Switch landing hero components; move docs-specific from components dir to docs-view dir
  src/components/landing-hero/index.tsx
  src/components/landing-hero/landing-hero.module.css
  src/components/landing-hero/types.ts
  src/views/certifications/components/certifications-hero/index.tsx
  src/views/certifications/views/landing/components/index.tsx
  src/views/certifications/views/landing/components/landing-hero/assets/certification-hero-image.svg
  src/views/certifications/views/landing/components/landing-hero/assets/certifications-hero-gradient.svg
  src/views/certifications/views/landing/components/landing-hero/index.tsx
  src/views/certifications/views/landing/components/landing-hero/landing-hero.module.css
  src/views/certifications/views/landing/index.tsx
  src/views/docs-view/index.tsx
  src/views/product-root-docs-path-landing/components/hero/index.tsx
Owners: none

Edited install-landing pages
  src/components/landing-hero/assets/certification-hero-image.svg
  src/components/landing-hero/assets/certifications-hero-gradient.svg
  src/views/docs-view/components/landing-hero/index.tsx
  src/views/docs-view/components/landing-hero/landing-hero.module.css
  src/views/docs-view/components/landing-hero/types.ts
  src/views/validated-designs/style.module.css
Owners: none

Design changes finalized; requested a11y changes completed
  src/components/landing-hero/components/hero/index.tsx
  src/components/landing-hero/index.tsx
  src/views/validated-designs/index.tsx
  src/views/validated-designs/style.module.css
Owners: none

Add moduleNameMapper to fix build failing
  jest.config.ts
Owners: none

changed TOC to work server-side
  src/views/product-downloads-view/__tests__/__fixtures__/releases.json
  src/views/product-downloads-view/__tests__/index.test.ts
  src/views/product-downloads-view/boundary/components/desktop-client-callout/index.tsx
  src/views/product-downloads-view/components/downloads-section/helpers.ts
  src/views/product-downloads-view/components/downloads-section/index.tsx
  src/views/product-downloads-view/components/downloads-section/types.ts
  src/views/product-downloads-view/components/release-information/index.tsx
  src/views/product-downloads-view/helpers.ts
  src/views/product-downloads-view/index.test.ts
  src/views/product-downloads-view/index.tsx
  src/views/product-downloads-view/server.ts
  src/views/product-downloads-view/types.ts
Owners: none

Added title and meta description
  src/views/validated-designs/index.tsx
Owners: none

HVD landing page (#2279)
  jest.config.ts
  src/components/docs-landing-hero/docs-landing-hero.module.css
  src/components/docs-landing-hero/index.tsx
  src/components/docs-landing-hero/types.ts
  src/components/landing-hero/assets/certification-hero-image.svg
  src/components/landing-hero/assets/certifications-hero-gradient.svg
  src/components/landing-hero/components/hero/hero.module.css
  src/components/landing-hero/components/hero/index.tsx
  src/components/landing-hero/components/hero/types.ts
  src/components/landing-hero/index.tsx
  src/components/landing-hero/landing-hero.module.css
  src/components/landing-hero/types.ts
  src/layouts/base-layout/index.tsx
  src/views/certifications/components/index.tsx
  src/views/certifications/views/[slug]/components/program-hero/index.tsx
  src/views/certifications/views/landing/components/index.tsx
  src/views/certifications/views/landing/components/landing-hero/index.tsx
  src/views/certifications/views/landing/components/landing-hero/landing-hero.module.css
  src/views/certifications/views/landing/index.tsx
  src/views/docs-view/index.tsx
  src/views/product-root-docs-path-landing/components/hero/index.tsx
  src/views/validated-designs/index.tsx
  src/views/validated-designs/server.ts
  src/views/validated-designs/style.module.css
  src/views/validated-designs/types.ts
Owners: none

remove boundary/oidc-auth tutorial and associated card
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

update boundary/event-logging slug
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

cleanup: remove .io cache warming
  scripts/warm-cache.ts
Owners: none

get guide page titles from the mdx front matter
  src/views/validated-designs/server.ts
Owners: none

Remove boundary/oidc-auth product and install landing (#2287)
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
Owners: @hashicorp/boundary-education-approvers

update support link
  src/components/sidebar/helpers/generate-resources-nav-items.ts
Owners: none

remove @scripts alias, will add in another PR
  jest.config.ts
  src/views/validated-designs/server.ts
  tsconfig.json
Owners: none

Display errors when frontmatter is malformed
  src/views/validated-designs/server.ts
Owners: none

cleanup: remove .io cache warming (#2288)
  scripts/warm-cache.ts
Owners: none

Update src/views/validated-designs/guide/detail-view.module.css
  src/views/validated-designs/guide/detail-view.module.css
Owners: none

.github/CODEOWNERS:

# Content
/src/content/**/* @hashicorp/education

# Education Engineering Managers
# TODO: Add ownership for other content dirs / products
/src/content/consul/**/* @hashicorp/consul-education-approvers
/src/content/nomad/**/* @topfunky
/src/content/terraform/**/* @hashicorp/terraform-education-approvers
/src/content/vault/**/* @hashicorp/vault-education-approvers
/src/content/boundary/**/* @hashicorp/boundary-education-approvers

# Certifications
/src/content/certifications/**/* @lszpunar
