Repository hashicorp/dev-portal, pull requests merged in 2024-05, with the labels that each got.

#2433 Tutorials: removes missed boundary/oss link from tutorials landing page
  src/content/tutorials-landing.json
Labels: Tutorials

#2436 HCP TF docs agents
  src/components/navigation-header/components/product-page-content/utils/__tests__/get-nav-items.test.ts
  src/data/terraform.json
Labels: documentation

#2438 Rab boundary add community links
  src/content/boundary/install-landing.json
  src/content/boundary/product-landing.json
  src/content/tutorials-landing.json
Labels: Tutorials

#2445 removes boundary/hcp-getting-started
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Labels: Tutorials

#2453 adds boundary/get-started-hcp collection
  src/content/hcp/tutorials-sidebar.json
  src/content/tutorials-landing.json
Labels: Tutorials

#2459 Update site banner to HashiDays
  src/data/alert-banner.json
Labels: chore

#2462 Update HVD get started link
  src/content/hcp/tutorials-sidebar.json
Labels: Tutorials

#2465 Update tutorials-landing.json
  src/content/tutorials-landing.json
Labels: documentation
